@media only screen and (max-width: 1439px) and (min-width: 1280px) {
	.background-video-4, .background-video-2, .background-video-3, .background-video-4>video, .background-video-2>video, .background-video-3>video {
         width: 272px !important;
	height: 377px !important;
}
}

@media only screen and (max-width: 1279px) and (min-width: 1024px) {
	.background-video-4, .background-video-2, .background-video-3, .background-video-4>video, .background-video-2>video, .background-video-3>video {
		width: 290px !important;
		height: 370px !important;
		border-radius: 20px !important;
	}
	.image-19 {
		max-width: 88% !important;
	}

	.heading-20.title_1, .heading-17.title_1.h1 {
		font-size: 120px !important;
		line-height: 120px !important;
	}
}
@media only screen and (max-width: 1919px) and (min-width: 1841px) {
	.image-27 {
		max-width: 86% !important;
	}
	.container-4 {
		max-width: 70% !important;}

	.image-7 {
		top: -19% !important;
	}

	.div-block-79 {
		left: 15% !important;
		right: auto;
	}
}
@media only screen and (max-width: 1840px) and (min-width: 1741px) {
	.div-block-79 {
		left: 13.5% !important;
		right: auto;
	}
	.image-27 {
		max-width: 86% !important;
	}

	.container-4 {
		max-width: 70% !important;
	}

	.div-block-79 {
		left: 17.5% !important;
		right: auto;
	}
}

@media only screen and (max-width: 1740px) and (min-width: 1641px) {
	.image-27 {
		max-width: 89% !important;
	}

	.container-4 {
		max-width: 75% !important;
	}

	.div-block-79 {
		left: 17% !important;
	}
}

@media only screen and (max-width: 1640px) and (min-width: 1541px) {
	.image-27 {
		max-width: 87% !important;
	}

	.container-4 {
		max-width: 80% !important;
	}

	.div-block-79 {
		left: 20% !important;
		right: auto;
	}
}

@media only screen and (max-width: 1540px) and (min-width: 1440px) {
	.image-27 {
		max-width: 89% !important;
	}

	.container-4 {
		max-width: 85% !important;
	}
}

.div-block-63 {
	border-bottom: 0 !important;
}

@media only screen and (max-width: 1920px) and (min-width: 1440px) {
	.background-video-5, .background-video-6, .background-video-6>video, .background-video-5>video {
		width: 260px !important;
		height: 340px !important;
	}

	.background-video-4, .background-video-2, .background-video-3, .background-video-4>video, .background-video-2>video, .background-video-3>video {
		width: 372px !important;
		height: 477px !important;
	}
    
}

.text-block-34 {
	border: 1px solid rgb(255 255 255 / 30%);
}

.div-block-19 {
	background: linear-gradient(245.6deg, #5360FF -10.51%, #1B2BF3 110.15%) !important;
}

.div-block-20 {
	background: linear-gradient(263.57deg, #DA71FF -2.42%, #8F13BB 107.42%) !important;
}

.div-block-21 {
	background: linear-gradient(245.24deg, #FF9F2F -3.92%, #F85000 107.35%) !important;
}

.bold-text-15 {
	font-weight: 600 !important;
}

.heading-22 {
	font-weight: 600 !important;
}

ul.nav-menu>li>a:hover, a.nav-link-2:hover, a.link-block-7.w-inline-block>div>div:hover {
	color: #f85000 !important;
}

a.nav-link {
}

a.button-primary.w-button:hover {
	background-color: #f85000;
}

html {
	overflow-x: hidden !important;
}

.swiper {
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width:3000px) and (min-width: 2350px) {
	.section.wf-section {
		height: 135vh !important;
	}
}

@media only screen and (max-width: 1279px) and (min-width: 992px) {
	.heading-17.title_1.h1, .heading-20.title_1 {
		font-family: 'Clash Display variable', sans-serif;
		font-size: 100px !important;
		font-weight: 500;
		line-height: 100px !important;
	}

	.div-block {
		right: 0 !important;
	}

	.div-block {
		width: 150px !important;
		height: 50px !important;
	}

	.heading,.heading-3,.heading-21 {
		font-size: 15px !important;
		line-height: 15px !important;
	}

	.div-block-68 {
		width: 230px !important;
		height: 50px !important;
	}

	.div-block-4 {
		width: 180px !important;
		height: 50px !important;
	}

	.button, .button-2 {
		width: 240px !important;
		height: 60px !important;
		font-size: 22px !important;
		line-height: 100% !important;
		font-weight: 500 !important;
	}

	.div-block-98 {
		padding-top: 30px !important;
	}

	.link-block,.link-block-2,.div-block-10,.link-block-4,.link-block-5 {
		width: 183px !important;
		height: 60px !important;
	}

	.image-3 {
		width: 153px !important;
		height: 32px !important;
		max-width: 70% !important;
	}

	.image {
		width: 114px !important;
		height: 32px !important;
	}

	.image {
		width: 115px !important;
		height: 32px !important;
	}

	.image-2 {
		width: 135px !important;
		height: 32px !important;
	}

	.link-block {
		top: 40% !important;
	}

	.link-block.link100, .link-block-5 {
		top: 50% !important;
	}

	.container-3 {
		max-width: 85% !important;
		;
	}

	img.image-35 {
		top: -35px !important;
	}

	.image-34 {
		bottom: 12% !important;
	}

	img.image-34 {
		width: 6% !important;
	}

	.image-15 {
		width: 300px !important;
	}

	.image-7 {
		top: 0% !important;
		right: -8% !important;
	 width: 100px !important;
		height: 124px !important;
	}

	.text-block-2, .text-block-5 {
		font-size: 60px !important;
		line-height: 60.2px !important;
	}

	.text-block-6 {
		padding-top: 25px !important;
		padding-bottom: 43px !important;
		font-size: 18px !important;
		height: 36px !important;
	}

	.background-video-14.w-background-video.w-background-video-atom {
		height: 557px !important;
		width: 291px !important;
	}

	.container-6 {
		padding-top: 80px;
	}

	.heading-8 {
		padding-bottom: 12px;
		font-size: 50px;
	}

	.text-block-48 {
		font-size: 16px;
		line-height: 30px;
	}

	.heading-9 {
		font-size: 18px;
	}

	.heading-13, .text-block-49, .heading-12 {
		height: auto;
		font-size: 60px;
		line-height: 60px;
	}

	.section-6 {
		padding-bottom: 90px;
	}

	.accordion-wrapper {
		margin-top: 0;
	}

	.text-block-37 {
		font-size: 60px;
		line-height: 60px;
	}

	.text-block-39 {
		font-size: 17px;
		line-height: 33px;
	}

	.div-block-42 {
		padding-top: 28px;
	}

	.div-block-43 {
		padding-top: 80px;
	}

	.div-block-44 {
		padding-top: 0px;
	}

	.text-block-38 {
		font-size: 60px;
		line-height: 59px;
	}

	.div-block-45 {
		width: auto;
		height: 400px;
	}

	.section-8 {
		padding: 40px 65px 150px 65px;
	}

	.heading-8 {
		padding-bottom: 26px;
		color: #1b1b1d;
		font-size: 50px;
	}

	.text-block-48 {
		padding-right: 40px;
		padding-left: 40px;
		font-size: 18px;
		line-height: 25px;
	}

	.button-5 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 200px;
		height: 50px;
	}

	.section-5 {
		overflow: hidden;
		padding-bottom: 60px;
	}
}

@media screen and (max-width: 991px) {
	.nav-menu {
		background-color: #f85000;
	}

	.div-block {
		top: 8%;
	}

	.text-block {
		width: 400px;
		height: 86px;
		line-height: 23.2px;
	}

	.link-block, .link-block-2, .div-block-10, .link-block-4, .link-block-5 {
		width: 150px !important;
		height: 50px !important;
	}

	.image {
		width: 100px !important;
		height: 300px !important;
	}

	.image-2 {
		width: 114px;
		height: 30px;
	}

	.bold-text-15 {
		opacity: 0.2;
		color: #fff;
		font-size: 150px;
		line-height: 150px;
	}

	a.link-block-5.w-inline-block {
		right: 75%;
		top: 56%;
	}

	.link-block {
		position: absolute;
		left: -43%;
		top: 40%;
	}

	.link-block.link100 {
		top: 45%;
	}

	.link-block, .link-block-2, .div-block-10, .link-block-4, .link-block-5 {
		width: 150px !important;
		height: 50px !important;
	}

	.image {
		width: 100px !important;
		height: 300px !important;
	}

	.image-2 {
		width: 114px;
		height: 30px;
	}

	.bold-text-15 {
		opacity: 0.2;
		color: #fff;
		font-size: 150px;
		line-height: 150px;
	}

	a.link-block-5.w-inline-block {
		right: 75%;
		top: 56%;
	}

	.link-block {
		position: absolute;
		left: -43%;
		top: 40%;
	}

	.link-block.link100 {
		top: 45%;
	}

	.image-35{
		position: absolute;
		left: 36px;
		top: -30px;
	}

	.image-15{
		width: 250px;
	}
}

.item>div{
	border-top: 5px solid white !important;
	border-bottom: 5px solid white !important;
}

.columns-4.w-row>div{
	display: flex !important;
	justify-content: center !important;
}

img.image-19{
	width: 48%;
	top: 150px;
}

.undlerline:after{
	content: "";
	position: absolute;
	right: 0;
	z-index: 100;
	bottom: 0;
	width: 6px;
	height: 40%;
	background: #f85000;
}

.undlerline:before {
	content: "";
	position: absolute;
	left: 0;
	z-index: 100;
	bottom: 0;
	width: 6px;
	height: 24%;
   
	background: #f85000;
}

.undlerline.h1 {
	position: relative;
	border-bottom: 7px solid #f85000;
	background: #3beadc00;
	padding: 0px 10px;
}

img.image-19 {
	display: none;
}

img.image-19 {
	display: none;
}

.div-block-6 {
	position: relative;
	top: 0px;
	bottom: 0px;
	padding-bottom: 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.swiper-button-next, .swiper-button-prev{
	display: none;
}
.arrow-next:focus, .arrow-previous:focus{
	outline: none;
}
.swiper-slide.swiper-slide-active .card{
	opacity: 100%;
}
.submit-button:focus{
	outline: none;
}

.text-field{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
@media screen and (max-width:991px) and (min-width:1279px) {
	video#e6c754ce-b09a-7766-91d1-b9cf9f13c924-video,.background-video-5.w-background-video.w-background-video-atom {
		width: 200px !important;
		height: 248px !important;
		border-radius: 12px !important;
	}
	.background-video-5{
		right: 29px !important;
	}
	.background-video-93{
		width: 272px !important;
		height: 449px !important;
	}
}
@media screen and (max-width:991px) and (min-width:768px) {
	.background-video-5.w-background-video.w-background-video-atom>video ,
  .background-video-6.w-background-video.w-background-video-atom>video {
		width: 206px !important;
		height: 256px !important;
	}
} 